.card {
  border-radius: 4px;
  min-height: 200px;
  img {
    aspect-ratio: 16/9;
  }
}

.card-body {
  min-height: 125px;
  max-height: 200px;
}

.card-title {
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  white-space: normal;
}

.home {
  max-width: 1450px;
}

.btn {
  border: 0px;
  &-primary {
    background-color: #01cdfe;
    color: #fff;
    &:active,
    &:hover {
      background-color: #05b5df;
    }
  }
  &-secondary {
    background-color: #ff71ce;
    color: #fff;
    &:active,
    &:hover {
      background-color: #d25daa;
    }
  }
  &-success {
    background-color: #05ffa1;
    color: #4e4e4e;
    &:active,
    &:hover {
      background-color: #1ab77c;
    }
  }
  &-danger {
    background-color: #f6000f;
    color: #fff;
    &:active,
    &:hover {
      background-color: #bc0913;
    }
  }
  &-warning {
    background-color: #fffb96;
    color: #4e4e4e;
    &:active,
    &:hover {
      background-color: #eeea92;
    }
  }
  &-info {
    background-color: #a3e9ff;
    color: #fff;
    &:active,
    &:hover {
      background-color: #92cde0;
      color: #4e4e4e;
    }
  }
  &-light {
    border: 1px solid #4e4e4e;
    box-sizing: border-box;
    background-color: transparent;
    color: #4e4e4e;
    height: 36px;
    &:active,
    &:hover {
      background-color: #4e4e4e;
      color: #fff;
      border: 1px solid #fff;
    }
  }
  &-dark {
    background-color: #4e4e4e;
    border: 1px solid #4e4e4e;
    box-sizing: border-box;
    color: #fff;
    height: 36px;
    &:active,
    &:hover {
      border: 1px solid #4e4e4e;
      background-color: #fff;
      color: #4e4e4e;
    }
  }
}

.alert {
  text-align: center;
  margin-bottom: 0;
}
